body {
    color: #494D5F;
    background-color: #fbfbfb;
}

.video-content {
    display: flex;
    margin-top: 2vh;
    article.content {
        h1.title {
            display:flex;
            justify-content: center;
        }

        p {
            font-family: 'Open Sans', sans-serif, Arial;
            font-size: 21px;
            line-height: 42px;
            font-weight: 400;
            letter-spacing: -1px;
            word-spacing: 0.001em;
            font-feature-settings: "kern" 1;
            font-kerning: normal;
        }

        display:flex;
        flex-direction: column;
        margin: 0 auto;
        width: calc(50% - 100px);
    
        .responsive-iframe {
            max-width: 100%;
            padding-top: 56.25%;
            position: relative;
            width: 100%;
            margin-top: 1vh;
        }
        
        .responsive-iframe iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        iframe {
            display:flex;
            justify-content: center;
            max-width: 1280px;
            max-height: 720px;
            width: auto;
        }
    }
}