{{ define "main" }}

{{ partial "header.html" }}

<section class="about" id="about">
  <div class="container">
    <h2 class="heading-secondary">About me</h2>
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8">
        <div class="about__content">
          <p>Hello there, my name is Alaydriem - your favorite cardigan wearing Minecraft character on Minecraft Bedrock
            - but if you're here - you <em>probably</em> already knew that.</p>
          <p>I am a Youtube content creator for Minecraft Bedrock edition for PC, and create a variety of content
            ranging from farm and redstone tutorials to let's play series both in my personal world and and survival
            multi-player servers (SMP); various tools and utilities for Minecraft Bedrock, and custom behavior and
            resource packs!</p>
          <p>Subscribe on Youtube, or connect with me on Github or Discord!</p>
        </div>
      </div>
    </div>
  </div>
</section>
{{ $channelURL := printf "%s%s%s%s"
"https://youtube.googleapis.com/youtube/v3/channels?part=statistics&id="
$.Site.Params.channel_id
"&key="
$.Site.Params.api_key }}

{{ $channel := getJSON $channelURL }}
<section class="counter">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="counter__box">
          <span class="counter__count">
            {{ (index ($channel.items) 0).statistics.videoCount }}
          </span>
          <p class="counter__title">Videos Published</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="counter__box">
          <span class="counter__count">{{ (index ($channel.items) 0).statistics.subscriberCount }}</span>
          <p class="counter__title">Subscribers</p>
        </div>
      </div>
    </div>
  </div>
</section>

{{ partial "footer" }}
{{ end }}