  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/" id="nav-bar-logo" alt="Alaydriem logo, homepage navigation"> </a>
          <span class="navbar-burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active" href="#home">
              Home
            </a>
            <a class="navbar-item" href="#videos">
              Videos
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>