<!-- Top fixed navbar -->
<nav class="navbar navbar-top navbar-expand-md navbar-dark header__navbar">
    <div class="container-lg">
        <a class="navbar-brand" href="/">Alaydriem</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTopCollapsible"
            aria-controls="navbarTopCollapsible" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTopCollapsible">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item {{ if .IsHome  }}active{{ end }}">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <!--
                <li class="nav-item">
                    <a class="nav-link" href="/videos">Videos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tools">Tools & Utilities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lore-and-legend">Lore & Legend</a>
                </li>
            -->
            </ul>
        </div>
    </div>
</nav>